{% extends 'base.html' %}

{% block title %}Algorithms{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Second task: Algorithms!</h1>
        </div>
    </div>
    <div class="container">
    <h4>Reformatting the data dictionary</h4>
    <p>Description of the task: Write a function that will break the keys of the dictionary into plug-ins while
        preserving the hierarchy of keys and the values of the original dictionary</p>
        <ul><li>{{ reformat }}</li></ul>
    </div>

{% endblock %}