{% extends 'base.html' %}

{% block title %}Extra task{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Second task: Extra task!</h1>
        </div>
    </div>
    <div class="container">
    <p>A zero-indexed array A consisting of N integers is given. An equilibrium index of this array is any integer P
        such that 0 ≤ P < N and the sum of elements of lower indices is equal to the sum of elements of higher indices,
        i.e. A[0] + A[1] + ... + A[P−1] = A[P+1] + ... + A[N−2] + A[N−1].
        Sum of zero elements is assumed to be equal to 0. This can happen if P = 0 or if P = N−1.</p>
        <ul><li>A = {{ a_list }}</li></ul>
        <ul><li>P test = {{ p_test_list }}</li></ul>
        <ul><li>P = {{ p_list }}</li></ul>
    </div>

{% endblock %}