{% extends 'base.html' %}

{% block title %}ORM{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Fourth task: ORM!</h1>
        </div>
    </div>

    <div class="container">
        <p>
            We have 2 models. Author is a writer model. Book is a model with books written by writers.<br>
            You need to write the optimal query using Django ORM to count the number of written pages by each
            author.<br>
            It is enough to output the result in the form of a dictionary (the key is the name of the author,
            the value is the total amount of pages), example: <br>{'Author 1': 30, 'Author 2': 40, 'Author 3': 15}
        </p>
        <p style="color: forestgreen">{{ task }}</p>
        <h3>Authors:</h3>
        <div class="row">
            {% for author in authors %}
                <div class="col-md-4">
                    <h4>{{ author.name }}</h4>
                    <p>pages: {{ author.pages }}</p>
                </div>
            {% endfor %}
        </div>
        <h3>Books:</h3>
        <div class="row">
            {% for book in books %}
                <div class="col-md-4">
                    <h5>{{ book.title }}</h5>
                    <p>{{ book.author }}, pages: {{ book.pages_count }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}