{% extends 'base.html' %}

{% block title %}Warm up!{% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>First task: Warm up!</h1>
        </div>
    </div>

    <div class="container">

        <p>1.1. создайте три списка из следующих элементов: в первый список поместите числа от 1 до 10, во второй
            поместите буквы англ. алфавита с первой по 10-ю, в третий числа от 5 до 15:</p>
        <ul>
            <li>{{ 1_1.l_first }}</li>
            <li>{{ 1_1.l_second }}</li>
            <li>{{ 1_1.l_third }}</li>
        </ul>

        <p>1.2. с помощью операции слайсинга(срез массива) получите из первого списка такой, в котором будут все чётные
            элементы в обратном порядке: [10, 8, 6, 4, 2]</p>
        <ul>
            <li>{{ 1_2.l_first_r }}</li>
        </ul>

        <p>1.3. получите общий список из всех трёх, исключая дубликаты</p>
        <ul>
            <li>{{ 1_3.l_combine }}</li>
        </ul>

        <p>1.4. получите уникальные и общие элементы для двух списков чисел</p>
        <ul>
            <li>{{ 1_4.l_combine_int_unique }}</li>
            <li>{{ 1_4.l_combine_int_difference }}</li>
        </ul>

        <p>1.5. получите суммы элементов списка из чисел, а для списка из букв - строку из букв списка</p>
        <ul>
            <li>l_first_sum = {{ 1_5.l_first_sum }}</li>
            <li>l_second_str = {{ 1_5.l_second_str }}</li>
            <li>l_third_sum = {{ 1_5.l_third_sum }}</li>
        </ul>

        <p>1.6. как найти в полученной строке букву 'd'?</p>
        <ul>
            <li>index = {{ 1_6.index_d }}</li>
        </ul>

        <p>1.7. как заменить в полученной строке букву 'd' на 'a'?</p>
        <ul>
            <li> {{ 1_7.l_second_str_2 }}</li>
        </ul>

        <p>1.8. создайте словарь, ключами в котором будут буквы из созданного ранее списка, а значениями - рандомные
            цифры от 100 до 200 <p>
        <ul>
            <li>{{ 1_8.new_dict }}</li>
        </ul>

        <p>1.9. как проитеррироваться по всем ключам словаря?</p>
        <ul>
            <li>{{ 1_9.keys }}</li>
        </ul>

        <p>1.10. как проитеррироваться по всем значениям словаря?</p>
        <ul>
            <li>{{ 1_10.values }}</li>
        </ul>

        <p>1.11. как проитеррироваться по всем парам "ключ - значение" словаря?</p>
        <ul>
            <li>{{ 1_11.l_dict.0 }}</li>
            <li>{{ 1_11.l_dict.1 }}</li>
        </ul>

        <p> 1.12. создайте два datetime объекта: один текущая дата и время, второй - текущее время вчерашнего дня</p>
        <ul>
            <li>{{ 1_12.now }}</li>
            <li>{{ 1_12.yesterday }}</li>
        </ul>
        <hr>

    </div> <!-- /container -->
{% endblock %}